*.log
.DS_Store
.env
.env.backup
.env.production
.env.dusk.local
pnpm-lock.yaml
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
# /.vscode
/.zed
/auth.json
/node_modules
pnpm-debug.log*
.pnpm-store
/public/build
/public/hot
/public/storage
/public/js/filament
/public/css/filament
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db
.grepai/
/grepai
_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php

**/caddy
frankenphp

*.txt
/lang/vendor
/resources/views/vendor
/storage/app/GymTracker
/public/css/filament-spatie-backup
gym_tracker
database/database.sqlite
