services:
    app:
        image: ghcr.io/kuasar-mknd/gym-tracker:latest
        restart: always
        ports:
            - 8888:80
        environment:
            APP_KEY: ${APP_KEY}
            APP_URL: https://fit.kuasar.xyz
            APP_ENV: production
            APP_DEBUG: false
            DB_CONNECTION: mysql
            DB_HOST: db
            DB_PORT: 3306
            DB_DATABASE: ${DB_DATABASE}
            DB_USERNAME: ${DB_USERNAME}
            DB_PASSWORD: ${DB_PASSWORD}
            REDIS_HOST: redis
            REDIS_PASSWORD: ${REDIS_PASSWORD}
            REDIS_PORT: 6379
            OCTANE_SERVER: frankenphp
            SESSION_DRIVER: redis
            CACHE_STORE: redis
            QUEUE_CONNECTION: redis
            DB_SSL_VERIFY: 'false'
            FRANKENPHP_DEBUG: 1
            # Increase timeout for workers to reach ready state on slow hardware
            FRANKENPHP_WAIT_FOR_WORKER: '60s'
        links:
            - db
            - redis
        depends_on:
            - db
            - redis

    db:
        image: mysql:8.0
        restart: always
        environment:
            MYSQL_DATABASE: ${DB_DATABASE}
            MYSQL_USER: ${DB_USERNAME}
            MYSQL_PASSWORD: ${DB_PASSWORD}
            MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
        volumes:
            - db_data:/var/lib/mysql
        command: --default-authentication-plugin=mysql_native_password

    redis:
        image: redis:alpine
        restart: always
        command: redis-server --requirepass ${REDIS_PASSWORD}
        volumes:
            - redis_data:/data

    worker:
        image: ghcr.io/kuasar-mknd/gym-tracker:latest
        restart: always
        command: php artisan horizon
        environment:
            APP_KEY: ${APP_KEY}
            APP_ENV: production
            DB_CONNECTION: mysql
            DB_HOST: db
            DB_PORT: 3306
            DB_DATABASE: ${DB_DATABASE}
            DB_USERNAME: ${DB_USERNAME}
            DB_PASSWORD: ${DB_PASSWORD}
            REDIS_HOST: redis
            REDIS_PASSWORD: ${REDIS_PASSWORD}
            REDIS_PORT: 6379
            SESSION_DRIVER: redis
            CACHE_STORE: redis
            QUEUE_CONNECTION: redis
            DB_SSL_VERIFY: 'false'
        links:
            - db
            - redis
        depends_on:
            - db
            - redis

volumes:
    db_data:
    redis_data:
