services:
    app:
        image: ghcr.io/kuasar-mknd/gym-tracker:latest
        restart: always
        ports:
            - 8888:80
        environment:
            APP_KEY: ${APP_KEY}
            APP_URL: https://fit.edulex.ch
            APP_ENV: production
            APP_DEBUG: false
            DB_CONNECTION: mysql
            DB_HOST: db
            DB_PORT: 3306
            DB_DATABASE: ${DB_DATABASE}
            DB_USERNAME: ${DB_USERNAME}
            DB_PASSWORD: ${DB_PASSWORD}
            REDIS_HOST: redis
            REDIS_PASSWORD: ${REDIS_PASSWORD}
            REDIS_PORT: 6379
            OCTANE_SERVER: frankenphp
            SESSION_DRIVER: redis
            CACHE_STORE: redis
            QUEUE_CONNECTION: redis
            DB_SSL_VERIFY: 'false'
            SENTRY_DSN: ${SENTRY_DSN}
            SENTRY_TRACES_SAMPLE_RATE: 1.0
            SENTRY_PROFILES_SAMPLE_RATE: 1.0
            SENTRY_SEND_DEFAULT_PII: 'true'
            FRANKENPHP_WAIT_FOR_WORKER: '60s'
        networks:
            - frontend
            - backend
        depends_on:
            - db
            - redis

    db:
        image: mysql:8.4
        restart: always
        environment:
            MYSQL_DATABASE: ${DB_DATABASE}
            MYSQL_USER: ${DB_USERNAME}
            MYSQL_PASSWORD: ${DB_PASSWORD}
            MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
        volumes:
            - db_data:/var/lib/mysql
        healthcheck:
            test: ['CMD', 'mysqladmin', 'ping', '-p${DB_PASSWORD}']
            retries: 3
            timeout: 5s
        networks:
            - backend

    redis:
        image: redis:alpine
        restart: always
        command: redis-server --requirepass ${REDIS_PASSWORD}
        volumes:
            - redis_data:/data
        networks:
            - backend

    worker:
        image: ghcr.io/kuasar-mknd/gym-tracker:latest
        restart: always
        command: php artisan horizon
        environment:
            APP_KEY: ${APP_KEY}
            APP_ENV: production
            DB_CONNECTION: mysql
            DB_HOST: db
            DB_PORT: 3306
            DB_DATABASE: ${DB_DATABASE}
            DB_USERNAME: ${DB_USERNAME}
            DB_PASSWORD: ${DB_PASSWORD}
            REDIS_HOST: redis
            REDIS_PASSWORD: ${REDIS_PASSWORD}
            REDIS_PORT: 6379
            SESSION_DRIVER: redis
            CACHE_STORE: redis
            QUEUE_CONNECTION: redis
            DB_SSL_VERIFY: 'false'
        networks:
            - backend
        depends_on:
            - db
            - redis

networks:
    frontend:
    backend:
        internal: true

volumes:
    db_data:
    redis_data:
