includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    treatPhpDocTypesAsCertain: false


    paths:
        - app/
        - database/
        - routes/
        - tests/

    # Level 9 is the highest level
    level: 9

    ignoreErrors:

    excludePaths:
        - ./*/*/FileToBeExcluded.php
        - tests/*

    scanFiles:

