name: Auto-Merge Author PRs

on:
    pull_request:
        types: [opened, ready_for_review, reopened]

permissions:
    pull-requests: write
    contents: write

jobs:
    automerge:
        runs-on: ubuntu-latest
        if: github.event.pull_request.user.login == 'kuasar-mknd'
        steps:
            - name: Enable Pull Request Automerge
              run: gh pr merge --auto --squash "$PR_URL"
              env:
                  PR_URL: ${{ github.event.pull_request.html_url }}
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
