name: Release

on:
    push:
        tags:
            - 'v*'

permissions:
    contents: write

jobs:
    release:
        name: Create Release
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v6

            - name: Create Release
              uses: softprops/action-gh-release@v2
              if: startsWith(github.ref, 'refs/tags/')
              with:
                  generate_release_notes: true
                  draft: false
                  prerelease: false
